.header{
  background-color: rgba(4, 59, 92, 1);
  height: 150px;
  background-size: 120px;
  margin: 0px;
  position: relative;
  top: 0px;
  padding: 0px;
}
.headerTitle{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin:0px;
  padding-top: 40px;
  font-size: 50px;
  color: white;
  text-shadow: -2px 2px 3px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
body{
  margin:0px;
  padding: 0px;
}
a{
  text-decoration: none;
}
.type1Link{
  color:white;
}
.column{
  flex: 50%;
  padding: 0 4px;
}
.tiles{
  padding: 0;
}

img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  --c: #1095c1;
  /* the color */
  --b: .3em;
  /* border length*/
  --d: 10px;
  /* the cube depth */

  --_s: calc(var(--d) + var(--b));

  color: var(--c);
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background:
    conic-gradient(at left var(--d) bottom var(--d),
      #0000 90deg, rgb(255 255 255 /0.3) 0 225deg, rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at left var(--_s) bottom var(--_s),
      #0000 90deg, var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  transform: translate(calc(var(--d)/-1), var(--d));
  clip-path:
    polygon(var(--d) 0%,
      var(--d) 0%,
      100% 0%,
      100% calc(100% - var(--d)),
      100% calc(100% - var(--d)),
      var(--d) calc(100% - var(--d)));
  transition: 0.5s;
}

img:hover {
  transform: translate(0, 0);
  clip-path:
    polygon(0% var(--d),
      var(--d) 0%,
      100% 0%,
      100% calc(100% - var(--d)),
      calc(100% - var(--d)) 100%,
      0% 100%);
}