.post{
  display: grid;
  grid-template-columns: .8fr 1.2fr;
  gap: 20px;
  width: 100%;
  padding: 10px;
}
.postInfo{
  display:inline;
  padding: 10px;
  padding-left: 30px;
}
.postImage{
  display:inline;
  padding:10px;
}
.postImageActual{
  display:inline;
  width: 110%;
}
.postTitle{
  font-size: 26px;
  font-weight: 800;
}
.postDate{
  display: inline;
  font-size:12px;
}
.postAuthor{
  display: inline;
  padding-right: 10px;
  font-weight: 550;
  font-size: 12px;
}
.postBody{
  color:#282c34;
  font-weight: 200;
  font-size: 14px;
}
.postRow2{
  padding-bottom:5px;
  padding-top: 1px;
}

.header{
  background-color: rgba(4, 59, 92, 1);
  height: 150px;
  background-size: 120px;
  margin: 0px;
  position: relative;
  top: 0px;
  padding: 0px;
}
.headerTitle{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin:0px;
  padding-top: 40px;
  font-size: 50px;
  color: white;
  text-shadow: -2px 2px 3px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
body{
  margin:0px;
  padding: 0px;
}
a{
  text-decoration: none;
}
.type1Link{
  color:white;
}
.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column{
  flex: 50%;
  padding: 0 4px;
}
.column img{
  margin-top: 8px;
  vertical-align: middle;
}